@model LibraryApp.Models.Borrower

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Borrower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd>
            <table >
                @foreach (var b in Model.Book)
                {
                <tr>
                    <td style="padding-right:10px">
                        @Html.DisplayFor(modelItem => b.Name)
                            </td>
                    
                    <td>
                        <a asp-area="" asp-controller="Books" asp-action="Return" asp-route-id="@b.BookId">Return Book</a></td>
</tr>
                }
            </table>
            </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-controller="Books" asp-action="Index">Books List</a> |
    <a asp-controller="Borrowers" asp-action="Index">Borrower List</a>
</div>
