@model LibraryApp.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borrower)
        </dt>
        <dd>
            
            @{var b = Model.BorrowerId;}
            <a asp-area="" asp-controller="Borrowers" asp-action="Details" asp-route-id="@b">@Html.DisplayFor(model => model.Borrower.Name)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookId">Edit</a> |
    <a asp-controller="Books" asp-action="Index">Books List</a> |
    <a asp-controller="Borrowers" asp-action="Index">Borrower List</a>
</div>
